[submodule "libcanard"]
	path = modules/uavcan/libcanard
	url = git@github.com:Matternet/libcanard.git
[submodule "dsdl"]
	path = dsdl
	url = git@github.com:UAVCAN/dsdl.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = git@github.com:OpenMotorDrive/ChibiOS.git
