[submodule "libcanard"]
	path = modules/uavcan/libcanard
	url = git@github.com:matternet/libcanard.git
	branch = forget-uavcan-nodeid
[submodule "dsdl"]
	path = dsdl
	url = git@github.com:UAVCAN/dsdl.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = git@github.com:OpenMotorDrive/ChibiOS.git
	branch = framework
